.question__title {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  margin: 0;
}

.question__input {
  border: 0;
  border-bottom: 2px solid #2f15c0;
  width: 100%;
}

.question__select {
  border: 2px solid #2f15c0;
  width: 100%;
}

.question__select,
.question__input {
  height: 34px;
  padding: 0 4px;
  font-size: 16px;
  margin: 10px 0;
}

.form {
  width: 300px;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
}

.form__group {
  margin-bottom: 50px;
}
