.h {
  height: 100%;
}

.grid {
  display: flex;
}

.center {
  justify-content: center;
  align-items: center;
}

.grid--spaced {
  justify-content: space-between;
}

.grid--baseline {
  align-items: baseline;
}
