.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px 0;
}

.card {
  margin: 5px;
  background-color: #f7fafc;
  width: 30%;
  border-radius: 3px;
  box-shadow: 1px 1px 3px rgba(90, 90, 90, 0.2);
  font-size: 14px;
  padding: 20px;
  position: relative;
}

.card__title {
  font-size: 15px;
}

.card__tag {
  font-size: 12px;
  opacity: 0.8;
}

.card__header {
  border-bottom: 1px solid #e4edf3;
}

.card__subtitle {
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  margin: 50px 0;
}

.card__list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.card__close {
  position: absolute;
  right: 0;
  top: 0;
  color: currentColor;
  /*border: 1px solid #e4edf3;*/
  border: 0;
  background-color: transparent;
  width: 25px;
  height: 25px;
  /*border-radius: 50%;*/
}

.card__close:hover {
  background-color: #2f15c0;
  color: white;
}
