/*
.Home {
  width: 75%;
  margin: 75px;
}

button {
  width: 100%;
  background: #FF9B42;
}

.card_container {
  margin: 30px 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
*/

.Home {
  height: inherit;
}

.button {
  border: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #2f15c0;
  color: white;
  font-size: 14px;
  display: inline-block;
  text-align: center;
  margin-top: 25px;
}

.button__center {
  /*position: fixed;
  right: 0;
  bottom: 20px;
  text-align: center;*/
  position: relative;
  left: calc(50% - 30px);
}

.button__center i {
  line-height: 60px;
}

* {
  /*outline: 1px solid red;*/
}
