*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a {
  color: currentColor;
  text-decoration: none;
}

.header {
  color: #2f15c0;
  height: 100vh;
}

.header__title {
  margin: 0;
  border-bottom: 1px solid currentColor;
  padding-bottom: 10px;
  display: none;
}

.container {
  width: 1100px;
  margin: 0 auto;
}
